<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 
	</head>	
	<body class="body-style">
    
    <div class="header">			
      <!-- {% if fpath %}        
          <img src="{{ fpath }}"> 
      {% endif %} -->
      <img src="/mongo/logo.jpg">
       <br>
          <!-- <h1 style="color: rgb(255, 153, 0);" class="let_space">WELCOME To Medical label recognition and recommendation..</h1>			 -->
            <a href="/admin" class="glow">Admin Login</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			  
            <a href="/create" class="glow">Create User</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <a href="/simage" class="glow">Select Image for classification</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/analyze" class="glow">Extract Text</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/predictions" class="glow">Predictions</a> -->
      </div>
      <center>
        <br><br><br><br><br><br><br><br><br><br><br><br>
      <div>
        <form class="grid" action="/registration" method="POST">
          <h1 style="color: rgb(255, 153, 0);" class="let_space">Creation of fresh user .</h1>
          {% if fname %}
           
                {{fname}} &nbsp;&nbsp;
              <!-- <h1 style="color: rgb(255, 153, 0);" class="let_space">WELCOME TO HEART DECEASE PREDICTION USING ML....</h1> -->
              <h3 style="color: blue;" class="let_space"> User Created....</h3>
              
              <!-- <h3 style="color: blue;" class="let_space">path: {{name1}}, is here!!</h3>  -->
            <!-- </center>  -->
          {% endif %}        
          <label for="name">Enter candidate first name :</label>
          <input type="text" id="fname" name="fname">
          <label for="name">Enter Password :</label>
          <input type="password" id="lname" name="lname">   
          <label for="gender">Enter gender  :</label> 
          <select name="gender" id="gender">
            <option value="female">female</option>
            <option value="male">male</option>
          </select>    
       
         <input class="slide-button" type="Submit">
        </form>
      </div>
        
        
        
       
        <button id="Enter" type="button" class="slide-button" onclick="window.location.href = '/' ; " class="button">GO TO HOME..</button>
   
 
        <br>
        <br>
        <br>

        <div class="footer">	
          <h3 style="color: rgb(255, 153, 0);" class="let_space">Medical label recognition and recommendation</h3>
  
          <h3 style="color: rgb(255, 153, 0);" class="let_space">© 2025 karthik,per2,per3,per4,per5 | All Rights Reserved</h3>			
  
          <!-- <div class="icons"> -->
              <a href="http://facebook.com"><ion-icon name="logo-facebook"></ion-icon></a>
              <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
              <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
              <a href="#"><ion-icon name="logo-google"></ion-icon></a>
              <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
          </div>
      </center>
          <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>  
    </body>
</html>



