<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 
	</head>	
	<body bgcolor="gray">
        <br><br><br><br><br><br>
        <center>
        <h1 style="color: rgb(255, 153, 0);" class="let_space">Only admin can do this operation.</h1>
    </center>
        <br>
        <br>
        <br>
        <center>
        <button id="Enter" type="button" class="file_submit" onclick="window.location.href = '/home' ; " class="button">GO TO HOME..</button>
        </center>
        <br>
        <br>
        <br>
    </body>
</html>



