<html> 
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">		
    <link rel="stylesheet" type="text/css" href="../static/index.css"> 
    </head>	
    <body class="body-style">
    <center>
    <h1 style="color: blue;" class="let_space">Medical label recognition and recommendations....</h1>
    <br>
    <br>
    <br>             
     
    <button id="Enter" type="button" class="slide-button" onclick="window.location.href = '/' ; " class="button">GO TO HOME..</button>
    </center>
    <br>
    <br>
    <br>
    </body>
    </html>



