<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 		
</head>	

	<body class="body-style">	
						
				<div class="header">
					<img src="/images/logos/logo.jpg" ><br>
			<h1 style="color: rgb(255, 153, 0);" class="let_space">WELCOME To Medical label recognition and recommendation....</h1>			
			  <a href="/admin" class="glow">Admin Login</a>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			  
			  <a href="/create" class="glow">Create User</a>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  <a href="/simage" class="glow">Select Image for classification</a>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  <a href="/analyze" class="glow">Extract Text</a>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  <a href="/predictions" class="glow">Predictions</a>
			  </div>	
			
		
		 
<center>
</br>
    <marquee>
	<h1 style="color: rgb(255, 153, 0);" class="let_space">WELCOME To Medical label recognition and recommendation....</h1>
	</marquee>
	
</br></br>
<div>
	<button id="Enter" type="button" class="slide-button" onclick="window.location.href = '/admin' ; " class="button">Admin Login..</button>
	<br><br><br>
	<button id="Enter" type="button" class="slide-button" onclick="window.location.href = '/create' ; " class="button">Create user..</button>
	<br><br><br>
    <button id="Enter" type="submit" class="slide-button" onclick="window.location.href = '/simage' ; " class="button">Select image for classification..</button>
	<br><br><br>
	<button id="Enter" type="button" class="slide-button" onclick="window.location.href = '/analyze' ; " class="button">ExtractText</button>
	<br><br><br>
	<button id="Enter" type="button" class="slide-button" onclick="window.location.href = '/predictions' ; " class="button">predictions</button>
	
	<br><br><br>
</div>
</center>
	</body>
</html>