<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 		
</head>	
	<body class="body-style">		
		<header>
			<nav>
			
				<div>
			<h1>WELCOME To MLRR</h1>			
			  <a href="/admin" class="glow">Admin Login</a>
			  <br><br><br><br><br>			  
			  <a href="/create" class="glow">Create User</a>
			  <br><br><br><br><br>
			  <a href="/simage" class="glow">Select Image for classification</a>
			  <br><br><br><br><br>
			  <a href="/analyze" class="glow">Extract Text</a>
			  <br><br><br><br><br>
			  <a href="/predictions" class="glow">Predictions</a>
			  <br><br><br><br><br>
				</div>	
			
			</nav>
		  </header>
<center>
</br>
    <marquee>
	<h1 style="color: rgb(255, 153, 0);" class="let_space">WELCOME To Medical label recognition and recommendation....</h1>
	</marquee>
</br></br>
	<button id="Enter" type="button" class="slide-button" onclick="window.location.href = '/admin' ; " class="button">Admin Login..</button>
	<br><br><br>
	<button id="Enter" type="button" class="slide-button" onclick="window.location.href = '/create' ; " class="button">Create user..</button>
	<br><br><br>
    <button id="Enter" type="submit" class="slide-button" onclick="window.location.href = '/simage' ; " class="button">Select image for classification..</button>
	<br><br><br>
	<button id="Enter" type="button" class="slide-button" onclick="window.location.href = '/analyze' ; " class="button">ExtractText</button>
	<br><br><br>
	<button id="Enter" type="button" class="slide-button" onclick="window.location.href = '/predictions' ; " class="button">predictions</button>
	
	<br><br><br>
	<!-- <button id="Enter" type="submit" class="file_submit" onclick="window.location.href = '/su' ; " class="button">Retrieve users..</button>
	<br><br><br>
    <button id="Enter" type="button" class="file_submit" onclick="window.location.href = '/uu' ; " class="button">Update user..</button>
	<br><br><br>
	<button id="Enter" type="button" class="file_submit" onclick="window.location.href = '/du' ; " class="button">Delete user..</button>
	<br><br><br>
	<button id="Enter" type="button" class="file_submit" onclick="window.location.href = '/up' ; " class="button">Upload project..</button> -->
</center>
	</body>
</html>